[submodule "symlinks/vim/pack/plugins/start/fzf"]
	path = symlinks/vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "symlinks/vim/pack/plugins/start/fzf.vim"]
	path = symlinks/vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "symlinks/vim/pack/plugins/start/haskell-vim"]
	path = symlinks/vim/pack/plugins/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "symlinks/vim/pack/plugins/start/jellybeans.vim"]
	path = symlinks/vim/pack/plugins/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "symlinks/vim/pack/plugins/start/tokyonight.nvim"]
	path = symlinks/vim/pack/plugins/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "symlinks/vim/pack/plugins/start/gruvbox"]
	path = symlinks/vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "symlinks/vim/pack/plugins/start/lessspace.vim"]
	path = symlinks/vim/pack/plugins/start/lessspace.vim
	url = https://github.com/thirtythreeforty/lessspace.vim
[submodule "symlinks/vim/pack/plugins/start/nerdtree"]
	path = symlinks/vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "symlinks/vim/pack/plugins/start/vim-python-pep8-indent"]
	path = symlinks/vim/pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "symlinks/vim/pack/plugins/opt/vim-airline"]
	path = symlinks/vim/pack/plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "symlinks/vim/pack/plugins/opt/vim-airline-themes"]
	path = symlinks/vim/pack/plugins/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "symlinks/vim/pack/plugins/start/vim-autotag"]
	path = symlinks/vim/pack/plugins/start/vim-autotag
	url = https://github.com/craigemery/vim-autotag
[submodule "symlinks/vim/pack/plugins/start/vim-commentary"]
	path = symlinks/vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "symlinks/vim/pack/plugins/start/vim-cpp-enhanced-hilight"]
	path = symlinks/vim/pack/plugins/start/vim-cpp-enhanced-hilight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "symlinks/vim/pack/plugins/start/vim-dispatch"]
	path = symlinks/vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "symlinks/vim/pack/plugins/start/vim-easy-align"]
	path = symlinks/vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "symlinks/vim/pack/plugins/start/vim-fugitive"]
	path = symlinks/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "symlinks/vim/pack/plugins/start/vim-go"]
	path = symlinks/vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "symlinks/vim/pack/plugins/start/vim-javascript"]
	path = symlinks/vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "symlinks/vim/pack/plugins/start/vim-tmux-navigator"]
	path = symlinks/vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "symlinks/vim/pack/plugins/start/vim-surround"]
	path = symlinks/vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "symlinks/vim/pack/plugins/start/rust.vim"]
	path = symlinks/vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "extern/fonts"]
	path = extern/fonts
	url = https://github.com/powerline/fonts
[submodule "symlinks/vim/pack/plugins/opt/nvim-tree.lua"]
	path = symlinks/vim/pack/plugins/opt/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "symlinks/vim/pack/plugins/opt/nvim-web-devicons"]
	path = symlinks/vim/pack/plugins/opt/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "symlinks/vim/pack/plugins/opt/lualine.nvim"]
	path = symlinks/vim/pack/plugins/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "symlinks/vim/pack/plugins/opt/nvim-treesitter"]
	path = symlinks/vim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "symlinks/vim/pack/plugins/opt/plenary.nvim"]
	path = symlinks/vim/pack/plugins/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
