.symlinksignore
home/atom/*
home/i3/config
home/vim/.netrwhist
home/vim/autoload/plug.vim
home/vim/autoload/plug.vim.old
home/vim/plugged/
!home/atom/config.cson
!home/atom/init.coffee
!home/atom/packages.cson
