"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    fontFamily: "monospace"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "aaeea7cf-e3f8-f2ba-66a3-eed1e00a41ff"
  linter:
    lintOnChange: false
  minimap:
    scrollAnimation: true
    scrollAnimationDuration: 100
  "release-notes":
    viewedVersion: "44f1961"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
