[Unit]
Description=Clean %h/tmp

ConditionFileIsExecutable=/usr/bin/find
ConditionPathIsDirectory=%h/tmp

[Service]
Type=oneshot
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadWritePaths=%h/tmp
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true
CapabilityBoundingSet=
SystemCallArchitectures=native
ExecStart=/usr/bin/find %h/tmp -xdev -mindepth 1 -type f -mtime +7 -delete
