[Unit]
Description=Hypridle idle daemon

Wants=graphical-session.target
After=graphical-session.target

ConditionFileIsExecutable=/usr/bin/hypridle
ConditionPathExists=%h/.config/hypr/hypridle.conf

[Service]
Type=simple

ExecStart=/usr/bin/hypridle
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
