[Unit]
Description=Mako notification daemon

PartOf=graphical-session.target
Wants=graphical-session.target
After=graphical-session.target

ConditionFileIsExecutable=/usr/bin/mako
ConditionPathExists=%h/.config/mako/config

[Service]
Type=simple

ExecStart=/usr/bin/mako
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=graphical-session.target
