[Unit]
Description=Set initial volume and unmute
After=pipewire.service pipewire-pulse.service wireplumber.service pulseaudio.service
Wants=pipewire.service pipewire-pulse.service wireplumber.service
ConditionFileIsExecutable=%h/.config/volume/init-volume.sh

[Service]
Type=oneshot
ExecStart=%h/.config/volume/init-volume.sh

[Install]
WantedBy=default.target
