packages: [
  "busy-signal"
  "file-icons"
  "highlight-selected"
  "intentions"
  "language-docker"
  "language-gradle"
  "language-viml"
  "linter"
  "linter-eslint"
  "linter-gcc"
  "linter-pylint"
  "linter-shellcheck"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "pdf-view"
  "zentabs"
]
