[Unit]
Description=Clean %h/tmp

ConditionFileIsExecutable=/usr/bin/find
ConditionPathIsDirectory=%h/tmp

[Service]
Type=oneshot
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
ExecStart=/usr/bin/find %h/tmp -mindepth 1 -type f -mtime +7 -delete
