[Unit]
Description=Clean home tmp service

[Service]
ExecStart=/bin/sh -c "find ~/tmp -type f -mtime +7 -execdir rm -- '{}' \\;"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=clean-home-tmp-service