snippet xml "xml" b
<?xml version="1.0" encoding="UTF-8"?>
$0
endsnippet

snippet tag "custom element" b
<${1:name}>
	${VISUAL}$2
</${1/([\w:._-]+).*/$1/}>$0
endsnippet

snippet itag "inline custom element"
<${1:name}>${VISUAL}$2</${1/([\w:._-]+).*/$1/}>$0
endsnippet
